.applications-box {
    border: solid 1px rgb(212, 210, 210);
    border-radius: 10px;
    margin-top: 5%;
    background-color:rgb(249, 246, 246);
    overflow: scroll;
    height: 200px;
}

.application {
    border: solid 1px #99a1a4;
    background-color: #117aa025;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
    width: 30%;
}

.application:hover {
    background-color:#117aa00f;
}

.applicationTitle {
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 2%;
}

.noApplicationsMessage {
    padding-top: 2%;
    text-align: center;
}

.applicationName {
    padding-left: 2%;
    padding-top: 2%;
}
