.bubble-items {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 15px;
}

.bubble-item {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    border: 2px solid #117AA0;
    border-radius: 20px;
    background-color: white;
    color: #117AA0;
}