.chat-box {
    border: solid 1px rgb(212, 210, 210);
    border-radius: 10px;
    margin-top: 5%;
    background-color:rgb(249, 246, 246);
}

.chat-title {
    margin-left: 20px;
    font-size: 24px;
    margin-top: 5px;
}

.message-box {
    overflow-y: scroll;
    height: 200px;
    padding-left: 2%;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    display: grid;
    grid-template-columns: 20% 10% 70%;
    gap: 15px;
    background-color: white;
    border: solid 1px #117AA0;
    border-radius: 10px;
    cursor: pointer;
}

.input-box {
    /*
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: auto;*/
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.input-field {
    width: 600px;
    height: 75px;
}  
/*
.input-btn {
    margin-left: 10px;
    border: solid 2px black;
    border-radius: 10px;
}
*/
.input-btn{
    border: 2px solid #117AA0;
    color: #117AA0;
    font-weight: bold;
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    margin-top: 15px;
    min-width: 63px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-btn:hover {
    background-color: rgb(246, 244, 244);
}

.no-message {
    text-align: center;
    margin-top: 50px;
}