.content-board {
    border: solid 1px rgb(212, 210, 210);
    border-radius: 10px;
    margin-top: 5%;
    background-color:rgb(249, 246, 246);
}

.content-header {
    display: grid;
    grid-template-columns: 95% 5%;
    margin-top: 5px;
}

.content-title {
    margin-left: 20px;
    font-size: 24px;
}

.content-box {
    overflow: scroll;
    height: 200px;
}

.content-item {
    border: solid 1px #1796c4;
    background-color: #117aa025;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.content-item:hover {
    background-color: #117aa038;
}

.content-text {
    margin-left: 1%;
    margin-top: 1%;
    padding-top: 1%;
}

.no-content {
    margin-top: 10px;
    text-align: center;
}

.create-button {
    width: 45px;
    height: 40px;
    cursor: pointer;
}