.musicNoteBox{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
}
.musicNoteBoxAdmin{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    margin-left: 19px;
    margin-top: -1px;
}
.musicNoteAdminDropDown{
    position: relative;
    background: white;
    height: 35px;
    border-radius: 7px;
    margin-left: 5px;
    z-index: 2;
    margin-top: 5px;
}
.dropDownDiv{
    background: white;
    position: relative;
    width: 60px;
    margin-left: -9px;
    border-radius: 10px;
}
.dropDownDivHide{
    background: white;
    position: relative;
    width: 60px;
    margin-left: -9px;
    border-radius: 10px;
    visibility: hidden;
}
.hideDiv{
    visibility: hidden;
}
.hideDivShow{
    
}