.navBar{
    height: 70px;
    background: white;
    position: sticky;
    top: 0;
}
.logo{
    left: 10px;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    cursor: pointer;
}
.searchField{
    height: 40px;
    margin-top: 15px;
    margin-left: 150px;
    background: #E7E7E7;
    border: none;
    border-radius: 10px;
    min-width: 225px;
    margin-left: 50%;
}

input{
    text-indent: 5px;
}

/* added this from filterBox.ccs */
.filter {
    margin-top: 15px;
    margin-right: 10px;
    float: right;
}

.filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginButton{
    border: 2px solid #117AA0;
    color: #117AA0;
    font-weight: bold;
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    margin-top: 15px;
    min-width: 63px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.loginButton:hover {
    background-color: rgb(246, 244, 244);
}

.registerButton{
    border: none;
    color: white;
    background:  #117AA0;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    margin-top: 15px; 
    margin-left: 10px;
    float: right;
}

.registerButton:hover {
    background-color: #0f6f91;
}

.dropdown{
    height: 50px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}

.inputtext {
    border: none;
    background: #E7E7E7;
    outline: none;
    margin-top: 8px;
    border-left: 2px solid #656565;
}
.magnifyingGlass {
    height: 24px;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 8px;
}

.projectCreatorButton {
    border: none;
    color: white;
    background:  #117AA0;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    margin-top: 15px;
}

.myProfileButton {
    border: none;
    color: white;
    background:  #117AA0;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    margin-top: 15px; 
}

.myProjectsButton {
    border: none;
    color: white;
    background:  #117AA0;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    margin-top: 15px; 
}