.project-clickable {
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    background-color: white;
}

.project-clickable:hover {
    border-color:  rgb(0, 132, 255);
  }

.project-header {
    margin-top: 10px;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 175px;
}

.project-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
}

.project-industry {
   margin-right: 50%;
}

.project-industry-image {
  
}

.project-body {
    margin-top: 10px;
}

.project-skill-intro {
    font-size: 1vw;
}

.project-skills {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 15px;
}

.project-skill-filled {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    border: 2px solid rgb(3, 156, 3);
    border-radius: 20px;
    background-color: white;
    color: rgb(3, 156, 3);
}

.project-skill-not-filled {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    border: 2px solid rgb(206, 27, 27);
    border-radius: 20px;
    background-color: white;
    color: rgb(206, 27, 27);
}

.project-keyword-intro {
    font-size: 1vw;
}

.project-keywords {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 15px;
}

.project-keyword {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    border: 2px solid slategrey;
    border-radius: 20px;
    background-color: white;
    color: slategrey;
}