.skillsdivAdmin{
    border-radius: 20px;
    height: 200px;
    background: white;
    padding-bottom: 4%;
    background-color:rgb(249, 246, 246);
    border: solid 1px rgb(212, 210, 210);
}
.topPartSkillAdmin{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.skillIconAdmin{
    margin-left: 10px;
    height: 40px;
    margin-top: 10px;
}
.headSkillAdmin{
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}
.skillElementsContainer{
    height: 120px;
    overflow: auto;
}
.skillElementAdmin{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
    width: fit-content;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
}
.eachSkillElementAdmin{
    margin-left: 5px;
}
.xletterAdmin{
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.add-keyword-btn{
    border: 2px solid #117AA0;
    color: #117AA0;
    font-weight: bold;
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    margin-top: 15px;
    min-width: 63px;
    margin-left: 10px;
    margin-right: 10px;
}

.skillTitle {
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 30%;
    font-size: 20px;
}