.headProjectAdmin{
    display: flex;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 2%;
}

.buttonUpdateAdmin{
    margin-left: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background: #FB4C34;
    color: white;
}

.buttonUpdateAdmin:hover {
    background: #ff391f;
}

.industryChanger{
    margin-top: -1px;
    padding-left: 6%;
}

.musicNoteAdmin:hover {
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
    padding: 1%;
}

.titleDivAdmin{
    display: flex;
    margin-top: 4%;
}
.titleTextAdmin{
    margin-left: 3%;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 5px;
}
.titleInputAdmin{
    height: 38px;
    width: 100%;
    border-radius: 10px;
    resize: none;
    padding: 20px 5px;
    background-color:rgb(249, 246, 246);
    border: solid 1px rgb(212, 210, 210);
}
.musicNoteAdmin{
    height: 30px;
    width: 34px;
    margin-left: 3px;
    margin-top: 5px;
}
.visibilityIconAdmin{
    height: 26px;
    margin-top: 7px;
    margin-left: 2px;
}
.statusButtonWhite{
    margin-top: 5px;
    margin-left: 2px;
    border: 1px solid #117AA0;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.statusButtonBlue{
    margin-top: 5px;
    margin-left: 2px;
    background:  #117AA0;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
}
.textAreaAdmin{
    border-radius: 20px;
    resize: none;
    padding: 20px 5px;
    background-color:rgb(249, 246, 246);
    border: solid 1px rgb(212, 210, 210);
}
.descriptionDivAdmin{
    margin-top: 60px;
    margin-left: 3%;
    font-weight: bold;
}
.pageAdmin{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
}
.cards{
    margin-bottom: 10px;
}
.adminPageTitle {
    margin-right: 2%;
}

.hideDivShow {
    padding-left: 15%;
}
