.keyWorddivAdmin{
    border-radius: 20px;
    height: 200px;
    width: 400px;
    background-color:rgb(249, 246, 246);
    border: solid 1px rgb(212, 210, 210);
}
.topPartKeyWordAdmin{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.keyWordIconAdmin{
    margin-left: 10px;
    height: 40px;
    margin-top: 10px;
}
.headKeyWordAdmin{
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}
.keywordElementsContainer{
    height: 120px;
    overflow: auto;
}
.keyWordElementAdmin{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
    width: fit-content;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
}
.eachKeyWordElementAdmin{
    margin-left: 5px;
}
.xletterAdmin{
    height: 15px;
    margin-top: 6px;
    margin-left: 27px;
    cursor: pointer;
}
.addKeyWordButton{
    border-radius: 10px;
    border: none;
    background: green;
    height: 30px;
    margin-top: 15px;
    margin-left: 250px;
    color: white;
}