.project-clickable {
    border: 1px solid white;
    border-radius: 10px;
    /**align-items: center;**/
    background-color: white;
    padding: 2%;
}

.project-clickable:hover {
    border: 1px groove rgb(205, 207, 207); 
  }

.project-header {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 18%;
}

.project-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: left;
    padding-left: 3%;
    padding-top: 3%;
}

.project-industry {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.project-industry-image {
    width: 15%;
    padding-top: 2%;
}

.project-body {
    margin-top: 10px;
}

.project-skill-intro {
    font-size: 0.9vw;
    margin-right: 72%;
}

.project-skills {
    padding-left: 8px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 15px;
}

.project-skill-filled {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    border: 2px solid rgb(3, 156, 3);
    border-radius: 20px;
    background-color: white;
    color: rgb(3, 156, 3);
}

.project-skill-not-filled {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    border: 2px solid rgb(206, 27, 27);
    border-radius: 20px;
    background-color: white;
    color: rgb(206, 27, 27);
}

.project-keyword-intro {
    font-size: 0.9vw;
    margin-right: 68%;
    margin-top: 10px;
}

.project-keywords {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 15px;
}

.project-keyword {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    border: 2px solid slategrey;
    border-radius: 20px;
    background-color: white;
    color: slategrey;
}